.layout {
  &__logo {
    @apply relative z-10;
    padding: 24px 0 24px 32px;
    border-bottom:1px solid #FC4E55;
  }
  &__container {
    @apply relative;
  }
  &__content {
    @apply grid grid-cols-1;
    &--full {
      @apply grid grid-cols-1;
    }
  }
  &__children {
    @apply col-span-1;
  }
  &__additional-content {
    @apply relative z-10;
    padding: 74px 0 48px 32px;
  }
  
  &__family-image {
    min-width: 250px;
    position: relative;
    margin: 0 auto;
  }
  &__main-container {
    @apply flex flex-row text-xl;
    align-items: center;
  }
  &__benefits-wrapper {
    flex:1;
  }
  &__family-wrapper {
    flex: 1;
    position: relative;
    z-index: 2;
    &--full {
      display: none;
      position: absolute;
      right: -150px;
      top: 120px;
    }
  }
  &__background-square {
    @apply absolute top-0;
    width: 100%;
    height: 100%;
  }
  
  &__title {
    @apply font-lato text-white text-5xl font-light;
    
  }
  &__title-assurance{
    @apply text-2xl;
    &-red {
      @apply text-rimac
    } 
  }
  &__subtitle {
    @apply font-lato text-white text-5xl font-normal	;
  }
}

@screen lg {
  .layout {
    &__content {
      @apply grid-cols-2;
      &--full {
        @apply grid-cols-4;
        .layout__children {
          @apply col-span-3;
        }
      }
    }
    &__family-wrapper--full {
      display:block;
    }
    &__children {
      padding: 64px 0 64px 0;
      @apply col-span-1;
    }
  }
}