.benefits {
  &__list-container{
    @apply pt-2;
  }
  
  &__list-icon {
    width:20px;
    height:20px;
    margin-right: 12px
  }
  
  &__list-item {
    @apply flex flex-row text-white hidden;
    padding: 16px 0;
    &-active {
      @apply flex flex-row text-white;
    }
  }
  
  &__pagination {
    @apply flex flex-row;
  }
  &__arrow{
    @apply cursor-pointer;
  }
}


@screen lg { 
  .benefits {
    &__list-item {
      @apply flex;
    }
    &__pagination {
      @apply hidden;
    }
  }
  
}